{{!-- Previous/next page links - only displayed on page 2+ --}}
<div class="extra-pagination inner">
  {{pagination}}
</div>

{{!-- This is the post loop - each post will be output using this markup --}}
{{#foreach posts}}
<article class="post-list {{post_class}}">

  <div class="row">
    <header class="post-header">
      <h2 class="post-title"><a href="{{url}}">{{title}}</a></h2>
    </header>
  </div>
  <div class="row">
    <div class="start-xs">
      {{#if image}}
        <a href="{{url}}">
          <img class="post-image" src="{{image}}" alt="{{title}}" nopin="nopin" />
        </a>
      {{/if}}
    </div>
    <div class="col-xs">
      <section class="post-excerpt">
        <p><a href="{{url}}">{{excerpt words="75"}}</a></p>
      </section>

    </div>
  </div>
  <div class="row">
    <footer class="post-meta">
      {{#if author.image}}<img class="author-thumb" src="{{author.image}}" alt="{{author.name}}" nopin="nopin" />{{/if}}
      {{author}}
      {{tags prefix=" on "}}
      <time class="post-date" datetime="{{date format="YYYY-MM-DD"}}">{{date format="DD MMMM YYYY"}}</time>
    </footer>
  </div>
</article>
{{/foreach}}

{{!-- Previous/next page links - displayed on every page --}}
{{pagination}}
